 :root {
    --primary-color: #94c593;
    --secondary-color: #A1E8AF;
    --background-color: azure;

    --bright-text: azure;
    --dark-text: #131212f1;

    --blue-gray: #727c92;
    --dark-blue: #372772;
    --dark-purple: #3a2449;
    --dark-green: #296b26;

    --primary-color-hover: #b1e6b0;

 }

 html {
    background-color: var(--secondary-color);
 }

 body {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    height: 100%;
    margin: auto;
 }


 img {
    max-width: 100%;
    height: auto;
 }

 /*this is a class is for finding bugs with site styles 

 *{
   
   box-sizing: border-box;
   outline:  1px solid red !important; 
   background: rgb(100 0 0 / 0.12 ) !important;

}
   */


 /* Header styling and nav */

 header {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--bright-text);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 60px;
 }



 #logo-nav {
    margin: 10px;
    max-height: 150px;
 }

 .hover:hover {
    opacity: 0.8;
 }


 .main-nav-ulv2 li a.active {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
 }




 li {
    display: block;
    width: 100%;
    text-align: start;
    padding: 10px;
 }

 nav a {
    text-decoration: none;
    font-size: 20px;
    color: var(--bright-text);
 }

 .menu {
    display: none;
 }

 .menu.show {
    display: flex;
 }

 .hamburger {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    padding-left: 20px;

 }


 .hamburger:hover {
    opacity: 0.9;
 }

 @media (min-width: 600px) {
    .menu {
       display: flex;
       justify-content: flex-end;
       width: 100%;
       padding-right: 25px;
    }

    #logo-nav {
       margin: 10px;
       max-height: 100px;
    }

    li {
       display: inline;
       padding: 10px;
    }

    .hamburger {
       display: none !important;
    }
 }


 /* constainers */

 .container {
   display: flex;
   text-align: center;
   justify-content: center;
   color: var(--bright-text);
   padding: 50px 10px 50px 10px;
}


.container-inner {

   display: flex;
   width: 75%;
   min-width: 200px;
   max-width: 800px;
   min-height: 300px;
   background-color: var(--secondary-color);
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
   padding: 30px;

}

.half-width {
   flex: 1;
   padding: 10px; /* Optional: Add some padding for better spacing */
}

@media (max-width: 800px) {
   .container-inner {
       width: 100%;
       max-width: 100%;
       padding: 20px;
   }
}

.container-inner p {
   margin: 10px;
}

 /* footer styling */
 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-gray);
    color: var(--bright-text);
    min-height: 150px;
    margin-top: auto;
    text-align: center;

 }