#container-login {
    flex-direction: column;
}

/* form styling */


button {
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  h2  {
    margin-bottom: 20px;
  }
  