/* first content section */


#profile-content #left {
    flex: 25%;

}

#profile-content #right {
    flex: 75%;

}

#profile-content #right #bio #title {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;

}

#start-chat-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

#profile-content #right #bio p {
    text-align: left;
    line-height: 1.5;
    margin: 20px;
}


/* Media query for smaller screens */
@media (max-width: 700px) {
    #profile-content {
        flex-direction: column;

    }



    #profile-content .right,
    #profile-content .left {
        flex: 100%;


    }
}


/* date section */

#container-date {
    flex-direction: column;
}

/* chat section */

#chat-content {
    flex-direction: column;
    align-items: center;
}

#chat-area {
    width:  700px;
    height: 200px;
    margin-top: 20px;
    resize: none
}

@media (max-width: 750px) {
    #chat-area {
        width: 300px;
    }
}