/* first content section */


#profile-content #left {
    flex: 25%;

}

#profile-content #right {
    flex: 75%;

}

#profile-content #right #bio #title {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;

}

#start-chat-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

#profile-content #right #bio p {
    text-align: left;
    line-height: 1.5;
    margin: 20px;
}


/* Media query for smaller screens */
@media (max-width: 700px) {
    #profile-content {
        flex-direction: column;

    }



    #profile-content .right , #profile-content .left {
        flex: 100%;


    }
}

/* preference section  */

#container-preferences .half {
    flex: 50%;
}

#container-preferences form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

}

#container-preferences label {
    margin-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
}

#container-preferences h3 {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #container-preferences {
        flex-direction: column;

    }



    #container-preferences .half {
        flex: 100%;


    }
}